<md-dialog aria-label="Actions"  ng-cloak>
    <md-dialog-content>
        <md-list>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" ng-click="onEdit()">
                    <md-icon aria-label="Edit" md-svg-icon="image:ic_edit_24px"></md-icon>
                    &nbsp;Edit Container
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-1-line">
                <div class="md-list-item-text" ng-click="onDelete()">
                    <md-icon aria-label="Edit" md-svg-icon="action:ic_delete_24px"></md-icon>
                    &nbsp;Delete Container
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>